.DS_Store
.git
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/


themes/next/.idea/
themes/next/*.log
themes/next/*.iml
themes/next/node_modules/

# Ignore unused verdors' files
themes/next/source/*
!themes/next/source/vendors/fancybox/source/
themes/next/source/vendors/font-awesome/scss/
!themes/next/source/vendors/ua-parser-js/dist/
